{% extends 'base.html' %}
{% block container %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		Новости
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Поиск новостей</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">СМИ о нас</a>
			</li>
		</ul>
	</nav>
	<div class="grid-posts">
		<div class="row">
			
			{% for post in posts %}
			
				<div class="col-md-3">
					<div class="card">
					    <img class="card-img-top" src="https://placehold.it/350x200" alt="Card image cap">
					    <div class="card-body">
						    <p class="card-text">{{ post.body[:100] }}</p>
						</div>
						<a href="#" class="btn btn-link btn-sm ml-auto">Переход куда-нибудь</a>
						<div class="card-footer">
						    <small class="text-muted">{{ post.created }}</small>
						</div>
					</div>
				</div>

			{% endfor %}
	
		</div>
	</div>
{% endblock %}